<html>
    <head>
        <title>Add Bill</title>
        {% include "head.html" %}
    </head>
    <body>
        <form id="bill_add_form">
            Name: <br>
            <input type="text" name="bill_name"><br>
            Day of Month Paid: <br>
            <input type="text" name="pay_date"><br>
            Amount: <br>
            <input type="text" name="pay_amount"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
    <script>
        // TODO: Move this logic to seperate JavaScript function for reuse on other pages
        let form = $("#bill_add_form");

        form.on('submit', function(e) {
            e.preventDefault();

            $.ajax({
                url: "/api/add_bill",
                type: "POST",
                data: form.serialize()
            }).done(function(data) {
                if (data === "0") {
                    console.log(data);
                    $("body").html("Success.");
                }
            });
        });
    </script>
</html>
