<html>
    <head>
        <title>Budget</title>
        {% include "head.html" %}
    </head>
    <body>
        <center><h1>BUDGET APPLICATION INTERFACE (WIP)</h1></center><br>
        <b>Bills:</b><br>
        <a href="/bills">See Bills</a>
        <br>
        <a href="/bills/add">Add Bill</a>
        <br>
        <a href="/bills/edit">Edit Bill</a>
        <br><br>
        <b>Spending:</b><br>
        <a href="/spending">See Spending</a>
        <br>
        <a href="/spending/add">Add Spending</a>
        <br>
        <a href="/spending/edit">Edit Spending</a>
        <br><br>
        <b>Accounts:</b><br>
        <a href="/accounts">See Accounts</a>
        <br>
        <a href="/accounts/add">Add Account</a>
        <br>
        <a href="/accounts/edit">Edit Account</a>
    </body>
</html>
